@charset "utf-8";
/* ==========================================================
	スマホ 640px以下
========================================================== */
@media ( max-width : 640px) {
	html body {
		font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "メイリオ", Meiryo,
			"ＭＳ Ｐゴシック", Helvetica, Arial, Verdana, sans-serif;
	}
	#header {
		border-bottom: 1px solid #cfd2d6;
		height: auto !important;
		position: relative;
	}
	#header .headerInner {
		padding: 2% 0;
		margin: 0 3%;
	}
	#header .headerInner h2 {
		font-size: 90%;
		line-height: 1.2;
		margin-bottom: 5px;
		font-weight: bold;
		border-radius: 7px;
		-webkit-border-radius: 7px;
		-moz-border-radius: 7px;
		background: #d5dae3;
		padding: 5px;
		display: inline-block;
	}
	#header .headerInner h2 .blue02 {
		color: #133595;
	}

	/*コンテンツ*/
	#content .contentInner {
		margin: 0 3%;
		padding-bottom: 30px;
		min-height: inherit;
	}
	#content h3 {
		font-size: 150%;
		margin-bottom: 10px;
		letter-spacing: 1px;
	}
	#content h4 {
		background: url(../images/h3_bg_ck.png) 0 10px no-repeat;
		-moz-background-size: 7px 23px;
		background-size: 7px 23px;
		font-size: 130%;
		margin: 20px 0;
		padding: 10px 0 10px 17px;
	}
	#content .dotLine, #content .blue_dotLine {
		margin: 20px 0;
	}
	#content .blue_dotLine_img {
		padding: 20px 0;
	}

	/* ==========================================================
	各ページ共通パーツ
========================================================== */

	/*▼commonStyel-------------*/
	.sp {
		display: block;
	}
	.pc {
		display: none;
	}
	.tb {
		display: none;
	}
	.sp_none {
		display: none;
	}
	.pc_none {
		display: block;
	}
	.tb_none {
		display: block;
	}
	.sp_none {
		display: none;
	}
}